<h2>编辑用户信息</h2>

<% form_tag :action => 'update', :id => @profile do %>
  <%= render :partial => 'form' %>
  <%= submit_tag '保存' %>
<% end %>

<br /><br />

<% if params[:id].to_i == session[:profile].id %>
	<%= link_to '返回', :action => 'show', :id => session[:profile].id %>
<% else %>
	<%= link_to '显示', :action => 'show', :id => @profile %> |
	<%= link_to '返回', :action => 'list' %>
<% end %>
