/* global style for all html manuals */
/* mental images, steve, 10.05.2008 */

/* general style */
body	{ margin:1em 1em 2em 2em;
	  font-family:Arial,'Lucida Grande',Helvetica,sans-serif;
	  color:black; background-color:white; line-height:1.2em }

p	{ text-align: justify; margin: 0 2em 1em 2em; }
p.outdent { margin-left: 1em; }
p.indent  { margin-left: 3em; }

/* reduce line distortion from super/subscripts */
sup,sub { line-height:0 }

a	{ text-decoration: none; /* no underline */ }
a:hover { text-decoration: underline; }

.cover	{ border-bottom: solid; border-width: 1px; border-color: gray;
	  padding-bottom: 1pc; margin-bottom: 1pc; }

/* titles */
h1, h2, h3, h4, h5 { text-align: left; margin-top: 2pc }
h1 { font-size: 170%; font-weight: normal }
h2 { font-size: 140%; font-weight: bold }
h3 { font-size: 120%; font-weight: normal }
h4 { font-size: 100%; font-weight: bold }
h5 { font-size: 100%; font-weight: normal; color:#555 }

h1.title { margin: 3em 0 1em 0 }

/* table of contents */
.toc       { margin: 2em }
.toc li    { margin: .1em 0 .1em 1em }
.toc ul    { margin: 0 1em .2em 1em }
.toc li li { margin: .2em 0 .2em 2em }

.toc .title{ font-size: 120%; margin-bottom: 1pc }
.toc .h1   { margin: 0px 0px 0px 0px }
.toc .h2   { margin: 0px 0px 0px 1em }
.toc .h3   { margin: 0px 0px 0px 2em }

ul.toc, .toc ul { list-style-type:none; white-space:nowrap }

/* footnotes */
a.biglinks { padding: 0 0.2em; margin: 0 }
a:hover.biglinks { background-color: silver; text-decoration: none }

div.foot { margin:2em 2em; font-size:90% }
.foot sup { margin-right:0.5em; font-size:larger; line-height:normal }

/* code, commands, options, output, system */
pre, .screen, .toc { margin: 1em 2em; padding: 1em 2em }

code,
tt, pre	{ color:#722; line-height:1.2em;
       	  font-family:'Lucida Console','Courier New',Courier,monospace; }
pre dfn	{ color:#444; font-style:normal; font-weight:normal }
tt  dfn	{ color:#444; font-style:normal }

code, tt { margin: 0 .2em }
code     { white-space:nowrap }
code.mi  { }
code.cc  { }
code.cli { }
code.msl { }

/* definitions, functions, variables */
var, i,
dfn	{ margin: 0 .2em; color: #444; letter-spacing: 0.1em }
dfn	{ font-style:italic; font-weight:bolder }
var	{ font-style:italic }
var.num	{ font-style:normal; }

/* math and number styles */
.math	{ font-family: Cambria,'Times New Roman',Times,serif;
     	  font-style:italic; line-height:1.4em; letter-spacing:0.1em;
     	  margin:0 0.2em; white-space:nowrap }
.number	{ font-family: Cambria,'Times New Roman',Times,serif;
     	  font-style:normal; line-height:1.4em; letter-spacing:0.1em;
     	  margin:0 0.2em; white-space:nowrap }

/* tabular layout */
table	{ width: 92%; margin: 2em; text-align:left }
td	{ padding: 0.3em 0.5em; margin: 0 }
th	{ padding: 0.5em; border: 0 solid white;
	  border-bottom: 1px solid silver; }

/* actual table */
.table	{ border: 1px solid gray }

/* navigation and anchors */
.nav	{ background-color: #f3f3f3 }
.nav
a:hover	{ text-decoration: none; background-color: silver; }

.nav td { padding: 0.4em 0.3em; text-align: center; }
.nav td a { padding: 0.2em 0.5em; }

ul.nav	{ margin: 2em 2em; padding: 0.4em 0.2em }
ul.nav.	{ white-space: nowrap }
.nav li	{ margin: 0; padding: 0.1em 0;
	  display: inline; border-right: 1px solid white }
.nav li a { padding: 0.2em 0.7em; }

/* 'tags' navi bar */
.tag li { line-height: 1.6em; padding: 0; border: 0 }
.tag li a { padding: 0.2em 0.4em; }

/* lists and enumerations */
ol, ul,
dl	{ margin:1em 2em; padding:0 }
dt	{ font-weight: bold; margin-top: 1em }
dd, li	{ margin:.5em 1.5em }

.dict dt  { white-space:nowrap }
.dict dfn { font-style:normal }
.dict sub { font-size:small  }

/* images */
img	{ margin:1em 0; border-width:0 }
div.pic { margin:2em; text-align: center;
/*	  padding: 5px; border: 1px solid silver
*/	}

/* for debugging of indents, margins, padding */
.boxed	{ border: 1px solid silver }

.inlinemediaobject
{
    padding: 0.5em 0.5em 0.5em 0.5em;
}

/* special styles and elements */
.note	{ position: relative; padding: 1em; border: 0.5pt solid white; }
.note em{ font-style:italic; margin: 0 0.2em }

.new	{ color: white; background-color: #e00; vertical-align: top;
	  padding: .1em .3em; margin: 0 .1em; font-size:x-small; }

.recent	{ color: black; background-color: #ddd; vertical-align: top;
	  padding: .1em .3em; margin: 0 .1em; font-size:smaller; }

.news	{ background-color: #fcc; border-top: thin solid #f88;
	  border-bottom: thin solid #f88; }

.depr	{ margin-right:0.2em; padding:0 0.3em;
	  font-weight:bold; font-size:smaller;font-style:italic;
	  border:1px solid silver; white-space:nowrap; }

.detail	{ display:none }
.fade	{ color:gray }

@media screen
{
    a { color: #005a9c; }
    a:visited { color: #9c5a9c; }
    .nav a:visited { color: #005a9c; }

    pre, .screen, .toc, .note,
    .table tr { background-color: #f3f3f3; }
    .table td { border: 0 solid white; }
    .table th { background-color: #e4e4e4; }
}

@media print
{
    a { color: black; }
    a:visited { color: black; }

    pre, .screen, .toc { border-style: none; }
    .table { border: 2px solid gray; border-collapse: collapse; }
    .table td,
    .table th { border: 1px solid silver; }
    .table th { border-bottom: 2px solid gray; }
    .new { color: black; background-color: white; font-weight: bold }
    .navigation, .nav { display: none; }
}
