<!--<h2>Editing job</h2>-->
<h2>编辑任务</h2>

<% form_tag :action => 'update', :id => @job do %>
  <%= render :partial => 'form' %>
  <%= submit_tag '编辑' %>
<% end %>

<%= link_to '显示', :action => 'show', :id => @job %> |
<%= link_to '返回', :action => 'list' %>
