body {
	background-color: black; margin: 0; padding: 0;font-size: 12px;
}

form,input {margin: 0; padding: 0;}	
#text {width: 100%;}

a:link {color: white; text-decoration: none;  font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif;}
a:visited {color: white; text-decoration: none;  font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif;}
a:hover {color: red; text-decoration: underline;  font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif;}
			
.buttonCell {font-size: 70%;}
.index {font-size: 90%;}

table.index {
	border-top: #CCCCCC 2px solid;
	border-right: white 0px solid;
	border-bottom: #666666 2px solid; 
	border-left: white 0px solid; 
}
			
td.index {
	padding-top: 2px;
	padding-bottom: 2px;
	background: #999999; border-right: black 0px solid; 
}

