body {
	background-color: white; color: black;
	margin: 0; padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 82%;
	margin-left: 10px;
}

#parents {font-size: 85%;}

#banner h1 {
	margin: 0; padding: 0; font-size: 24px; color: #999;
	font-weight: normal;
}
#product {color: #FF0000;}
#version {color: #666;}

#chooser {margin-top: 1em;}

p {margin-top: 2px; margin-bottom: 2px;}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {color: red; text-decoration: underline;}

h1 {font-size: 130%; color: #BBB;}
h2 {font-size: 110%;}

ul	{margin: 0 0 0 8px; padding-left: 8px;}

.item,.dir {
	margin-left: 24px; text-indent: -24px; margin-bottom: 0;
}

.topLevel {
	font-size: 130%; font-weight: bold;
}

/* .item,.dir {white-space: nowrap;} */

.summary {font-size: 85%; color: #666; margin: 0 0 0 24px;}
.classSummary {font-size: 90%; color: #666;}

.dividerDiv {
	padding: 4px 0 4px 0;
	margin-bottom: 4px;
}

.divider {
	margin: 0 0 4px 0; padding: 2px 0 2px 0; 
	font-size: 110%; font-weight: bold;
}
